<div class="container">
  <div>
    <app-tic-tac-toe-grid *ngIf="usersExist"></app-tic-tac-toe-grid>
  </div>
</div>
<div class="players">
  <div class="first">
    <app-player *ngIf="usersExist" [userIndex]="0"></app-player>
  </div>
  <div class="second">
    <app-player *ngIf="usersExist" [userIndex]="1"></app-player>
  </div>
</div>

<div class="user-detail">
  <app-users *ngIf="!usersExist"></app-users>
  <br />
  <br />
  <div *ngIf="!usersExist">
    <div *ngIf="oneUserExists">
      <p class="message">
        The game session requires two players to start the game. Send the link
        to the other player to play together!
      </p>
    </div>
  </div>
</div>
