<div class="container">
  <div class="first">
    <app-player *ngIf="usersExist" [userIndex]="0"></app-player>
  </div>
  <div>
    <app-tic-tac-toe-grid *ngIf="usersExist"></app-tic-tac-toe-grid>
  </div>
  <div class="second">
    <app-player *ngIf="usersExist" [userIndex]="1"></app-player>
  </div>
</div>
<div>
  <div>
    <app-score-header *ngIf="usersExist"></app-score-header>
  </div>
  <div class="scores">
    <div>
      <app-score-board *ngIf="usersExist"></app-score-board>
    </div>
  </div>
</div>
<div class="user-detail">
  <app-users *ngIf="!usersExist"></app-users>
</div>
