.cell-standard {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell,
.cell-with-value {
  background-color: lightblue;
}
.cell:hover {
  background-color: bisque;
  cursor: pointer;
}

.cell-with-value:hover {
  cursor: not-allowed;
}
.winning-cell {
  background-color: green;
}
.winning-cell:hover {
  cursor: not-allowed;
}
.game-over {
  background-color: lightblue;
}
.game-over:hover {
  cursor: not-allowed;
}

.cell-content {
  display: inline-block;
  font-size: 20px;
  transform: scale(0);
  animation: popup 0.5s forwards;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
