<div class="grid-container">
  <div class="grid">
    <app-cell [Index]="0"></app-cell>
    <app-cell [Index]="1" class="middle-cell"></app-cell>
    <app-cell [Index]="2"></app-cell>
  </div>
  <div class="grid middle-grid">
    <app-cell [Index]="3"></app-cell>
    <app-cell [Index]="4" class="middle-cell"></app-cell>
    <app-cell [Index]="5"></app-cell>
  </div>
  <div class="grid">
    <app-cell [Index]="6"></app-cell>
    <app-cell [Index]="7" class="middle-cell"></app-cell>
    <app-cell [Index]="8"></app-cell>
  </div>
  <br />
  <br />

  <div class="button">
    <app-restart></app-restart>
  </div>
</div>
