<!-- <div>
  <h1>The players are:</h1>
  <ul>
    <mat-card color="basic">
      <mat-card-content>{{ users[0] }}</mat-card-content>
    </mat-card>
    <br />
    <mat-card>
      <mat-card-content>{{ users[1] }}</mat-card-content>
    </mat-card>
  </ul>
</div> -->

<mat-form-field class="example-full-width">
  <mat-label>First User</mat-label>
  <input matInput placeholder="first user" [(ngModel)]="users[0]" />
</mat-form-field>
<br />
<mat-form-field class="example-full-width">
  <mat-label>Second User</mat-label>
  <input matInput placeholder="first user" [(ngModel)]="users[1]" />
</mat-form-field>
<br />
<button mat-raised-button color="primary" (click)="onClick()">Enter</button>
